html, body {
height: 100%;
}

/*Map option*/
.grabbable {
    cursor: move !important; /* fallback if grab cursor is unsupported */
    cursor: grab !important;
    cursor: -moz-grab !important;
    cursor: -webkit-grab !important;
}
.grabbable:active {
    cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
}

/*Measure tooltip*/
.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #C8C8C8;
  color: black;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #454545;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
  display: none;
}
.tooltip-static:before {
  border-top-color: #454545;
}

/*switch buttons*/
.divSwitch{
  margin:12px;
  z-index:2;
  position:absolute;
  right:0;
}
.rSlider{
  float:right;
  padding-right:5px;
  margin-top:-2px;
  cursor:pointer;
}
.lSlider{
  padding-left:5px;
  margin-top:-2px;
  cursor:pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
  margin-left: 10px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C8C8C8;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #9fc1ef;
}
input:focus + .slider {
  box-shadow: 0 0 1px #9fc1ef;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(46px);
}

/* The Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #9fc1ef !important;
    width: 80%;
    border-bottom-left-radius:0px !important;
    border-bottom-right-radius:0px !important;
}
.customHeader{
  background-color:#9fc1ef;
  text-align:center;
  padding:0px !important;
}
.customBody{
  background-color:#C8C8C8;
  padding-top:30px !important;
}
.customFooter{
  border-top:none !important;
  padding:0 !important;
  text-align:center !important;
}
.selectionBtn{
  margin:10px;
  border-radius:0px !important;
  background-color:#9fc1ef;
  margin-bottom: 10px !important;
}
.urlWmsInput{
  width:90%;
  radius:0px !important;
  border:1px solid #9fc1ef;
}
.urlWmsBtn{
  border-radius:0px !important;
  background-color:#9fc1ef
}
.blueTitle{
  color:#9fc1ef;
  margin-top:5px
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modaltitle{
  background-color:#9fc1ef;
  text-align:center
}

/*Styles for left menu*/
.grMap{
  padding:0px;
  height:100%;
  width:100%;
  position:fixed;
}
.select-style {
    border: 0px;
    width: 40px;
    border-radius: 0px;
    overflow: hidden;
}
.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
.select-style select:focus {
    outline: none;
}
.cPicker{
  border: none;
  box-shadow: none;
  background: transparent;
  width: 48px;
  height: 20px;
}
.inputStreet{
  -webkit-appearance:textfield !important;
  margin-top:1px;
  width:70%;
}
.inputPortal{
  width:20%;
  -webkit-appearance:textfield !important;
  margin-top:1px;
}
.dropdownBtn{
  min-width:56px !important;
  padding:2px 0 !important;
}
.results{
  background: white;
  border:2px solid #9fc1ef;
  max-height: 300px;
  overflow-y:scroll;
}
.street{
  padding: 5px;
}
.street:hover{
  background-color: #9fc1ef;
  cursor: pointer;
}
.directions{
  color: black;
  padding: 5px;
}
.panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: #333;
}
.panel-heading .accordion-toggle.collapsed:after {
  content: "\e080";
}
.hintext{
  z-index: 3;
  position: absolute;
  width: 280px;
}
.customBoxLayer{
  border:1px solid #9fc1ef;
  margin-left:18px;
  padding:5px;
  margin-right:-13px
}
.menu_hidden{
  display:none;
  margin:25px;
  z-index:2;
  position:absolute
}
.leftmenu{
  z-index:2;
  position:absolute;
  background:white;
  height:100%;
  width:312px;
  margin-left: 15px;
}
.initialdiv{
  padding:10px;
  max-height:250px;
  overflow-y:scroll;
  width:100%;
}
.formcoordinates{
  margin:5px;
  text-align: initial;
}
.searchtitle{
  background-color:gray;
  text-align:center;
}
.btn.active{
  box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.2) !important;
}
.leftv{
  padding-left:10px;
  margin-top:7px
}
.firstbtn {
  background-color:#C8C8C8;
  border-radius:0px !important;
  padding:0px !important;
  margin-left:-1px !important;
}
.firstimage{
  border:0;
  background:transparent;
  padding:0px;
  width:48px;
  height:42px
}
.checkbuttons{
  background-color:#C8C8C8;
  width:50px;
  border-radius:0px !important;
}
.lastbtn{
  background-color:#C8C8C8;
  width:50px;
  border-radius:0px !important;
  padding-left:4px !important;
  padding-top:0px !important;
  height:44px
}
.coordbtn{
  border:0 !important;
  background:transparent;
  padding:0px !important;
}
.formbtn{
  margin-top:10px;
  border-radius:0px;
  background-color:#9fc1ef;
  float:right;
}
.optionsBox{
  border:1px solid #9fc1ef;
  margin-left:23px;
  padding:5px;
}
.optionRange{
  width:35% !important;
  display:inline-block !important;
  margin-bottom:-5px;
}
.sizeRange{
  width:47% !important;
  display:inline-block !important;
  margin-bottom:-5px;
}
.infoRight{
  cursor:pointer;
  float:right;
}
.mapMenu{
  padding: 10px;
  padding-top:0px;
}
.searchBar{
  padding: 10px;
}

/*Mobile*/
.mobileSizeRange{
  width:40% !important;
  display:inline-block !important;
  margin-bottom:-5px;
}
.mobileGrMap{
  padding:0px;
  height:100%;
  width:100%;
  position:fixed;
}
.mobileInputStreet{
  -webkit-appearance:textfield !important;
  margin:1px;
  width:69%;
}
.mobileInputPortal{
  width:20%;
  -webkit-appearance:textfield !important;
  margin-top:1px;
}
.hiddenBtn{
  display:none;
  z-index:2;
  position:absolute;
}
.mobileInterface{
  background-color:rgba(138,157,194,0.8) !important;
  width:49px;
  height:30px;
  padding-top:0px !important;
  border-radius:0px !important;
}
.imgMobileMenu{
  height:34px;
  margin-top:-5px;
}
.mobileLeftMenu{
  z-index:10;
  position:absolute;
  width:50px;
}
.mobileLabel{
  background-color:rgba(138,157,194,0.8);
  width:49px;
  height:30px;
  padding-top:0px !important;
  border-radius:0px !important;
}
.mobileFirstLabel{
  background-color:rgba(138,157,194,0.8);
  border-radius:0px !important;
  padding:0px !important;
  margin-left:-1px !important;
}
.mobileFirstBtn{
  border:0;
  background:transparent;
  padding:0px;
  width:48px;
  height:42px;
}
.mobileDefaultLabel{
  background-color:rgba(138,157,194,0.8);
  width:50px;
}
.mobileDefaultLabelLeft{
  background-color:rgba(138,157,194,0.8);
  width:50px;
  padding-left: 9px;
}
.mobilehintext{
  z-index: 3;
  position: absolute;
  width: 269px;
}
.mobileLastLabel{
  background-color:rgba(138,157,194,0.8);
  width:50px;
  border-radius:0px !important;
  padding-left:4px !important;
  padding-top:0px !important;
  height:44px
}
.mobileCenter{
  width:100%;
  text-align:center;
}
.mobileBox{
  width:268px;
  margin-left:-110px;
  background-color:white;
  padding:0px;
  position:absolute;
  z-index:10;
  margin-top:1px;
}
.mobileSearchTitle{
  background-color:gray;
  text-align:center;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}
.mobileCoordBtn{
  margin-top:10px;
  border-radius:0px !important;
  background-color:#9fc1ef;
  float:right
}
.mobileOptionRange{
  width:25% !important;
  display:inline-block !important;
}

/*Comment*/
.centerDivBtn{
  margin-top:10px;
  text-align: center;
}
.commBtn{
  border-radius:0px !important;
  background-color:#9fc1ef;
}

/*Map*/
.ol-zoom.ol-unselectable.ol-control{
  display: none;
}
.ol-attribution.ol-unselectable.ol-control.ol-collapsed{
  display: none;
}

/*Dropmenus*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: -8px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
