/*Measure tooltip*/
.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #C8C8C8;
  color: black;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #454545;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
  display: none;
}
.tooltip-static:before {
  border-top-color: #454545;
}

/*Toggle buttons*/
.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 40px;
    overflow: hidden;
}
.switch-title {
  margin-bottom: 6px;
}
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.switch-field label {
  float: left;
}
.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}
.switch-field label:hover {
    cursor: pointer;
}
.switch-field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

/* The Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #9fc1ef !important;
    width: 80%;
    border-bottom-left-radius:0px !important;
    border-bottom-right-radius:0px !important;
}
.customHeader{
  background-color:#9fc1ef;
  text-align:center;
  padding:0px !important;
}
.customBody{
  background-color:#C8C8C8;
  padding-top:30px !important;
}
.customFooter{
  border-top:none !important;
  padding:0 !important;
  text-align:center !important;
}
.selectionBtn{
  margin:10px;
  border-radius:0px !important;
  background-color:#9fc1ef;
  margin-bottom: 10px !important;
}
.urlWmsInput{
  width:90%;
  radius:0px !important;
  border:1px solid #9fc1ef;
}
.urlWmsBtn{
  border-radius:0px !important;
  background-color:#9fc1ef
}
.blueTitle{
  color:#9fc1ef;
  margin-top:5px
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modaltitle{
  background-color:#9fc1ef;
  text-align:center
}

/*Styles for left menu*/
.results{
  background: white;
  border:2px solid #9fc1ef;
  max-height: 300px;
  overflow-y:scroll;
}
.street{
  padding: 5px;
}
.street:hover{
  background-color: #9fc1ef;
  cursor: pointer;
}
.directions{
  color: black;
  padding: 5px;
}
.panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: #333;
}
.panel-heading .accordion-toggle.collapsed:after {
  content: "\e080";
}
.hintext{
  z-index: 3;
  position: absolute;
  width: 280px;
}
.customBoxLayer{
  border:1px solid #9fc1ef;
  margin-left:18px;
  padding:5px;
  margin-right:-13px
}
.menu_hidden{
  display:none;
  margin:25px;
  z-index:2;
  position:absolute
}
.leftmenu{
  z-index:2;
  position:absolute;
  background:white;
  height:100%;
  width:312px;
  margin-left: 15px;
}
.initialdiv{
  padding:10px;
  max-height:250px;
  overflow-y:scroll;
  width:100%;
}
.formcoordinates{
  margin:5px;
  text-align: initial;
}
.searchtitle{
  background-color:gray;
  text-align:center;
}
.btn.active{
  box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.2) !important;
}
.leftv{
  padding-left:10px;
  margin-top:7px
}
.firstbtn {
  background-color:#C8C8C8;
  border-radius:0px !important;
  padding:0px !important;
  margin-left:-1px !important;
}
.firstimage{
  border:0;
  background:transparent;
  padding:0px;
  width:48px;
  height:42px
}
.checkbuttons{
  background-color:#C8C8C8;
  width:50px
}
.lastbtn{
  background-color:#C8C8C8;
  width:50px;
  border-radius:0px !important;
  padding-left:4px !important;
  padding-top:0px !important;
  height:44px
}
.coordbtn{
  border:0 !important;
  background:transparent;
  padding:0px !important;
}
.formbtn{
  margin-top:10px;
  border-radius:0px;
  background-color:#9fc1ef;
  float:right;
}
.optionsBox{
  border:1px solid #9fc1ef;
  margin-left:23px;
  padding:5px;
}
.optionRange{
  width:35% !important;
  display:inline-block !important;
  margin-bottom:-5px;
}
.infoRight{
  cursor:pointer;
  float:right;
}
.mapMenu{
  padding: 10px;
  padding-top:0px;
}
.searchBar{
  padding: 10px;
}

/*Mobile*/
.hiddenBtn{
  display:none;
  z-index:2;
  position:absolute;
  margin-left:15px
}
.mobileInterface{
  background-color:rgba(138,157,194,0.8) !important;
  width:49px;
  height:30px;
  padding-top:0px !important;
  border-radius:0px !important;
}
.imgMobileMenu{
  height:34px;
  margin-top:-5px;
}
.mobileLeftMenu{
  z-index:10;
  position:absolute;
  margin-left:7px;
  width:50px;
}
.mobileLabel{
  background-color:rgba(138,157,194,0.8);
  width:48px;
  height:30px;
  padding-top:0px !important;
  border-radius:0px !important;
}
.mobileFirstLabel{
  background-color:rgba(138,157,194,0.8);
  border-radius:0px !important;
  padding:0px !important;
  margin-left:-1px !important;
}
.mobileFirstBtn{
  border:0;
  background:transparent;
  padding:0px;
  width:48px;
  height:42px;
}

.mobileDefaultLabel{
  background-color:rgba(138,157,194,0.8);
  width:50px;
}
.mobileDefaultLabelLeft{
  background-color:rgba(138,157,194,0.8);
  width:50px;
  padding-left: 9px;
}
.mobileLastLabel{
  background-color:rgba(138,157,194,0.8);
  width:50px;
  border-radius:0px !important;
  padding-left:4px !important;
  padding-top:0px !important;
  height:44px
}
.mobileCenter{
  width:100%;
  text-align:center;
}
.mobileBox{
  width:268px;
  margin-left:-110px;
  background-color:white;
  padding:0px;
  position:absolute;
  z-index:10;
  margin-top:1px;
}
.mobileSearchTitle{
  background-color:gray;
  text-align:center;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}
.mobileCoordBtn{
  margin-top:10px;
  border-radius:0px !important;
  background-color:#9fc1ef;
  float:right
}
.mobileOptionRange{
  width:25% !important;
  display:inline-block !important;
}

/*Comment*/
.centerDivBtn{
  margin-top:10px;
  text-align: center;
}
.commBtn{
  border-radius:0px !important;
  background-color:#9fc1ef;
}

/*Map*/
.ol-zoom.ol-unselectable.ol-control{
  display: none;
}
.ol-attribution.ol-unselectable.ol-control.ol-collapsed{
  display: none;
}
